# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\User\Documents\Universidad - Estudios - Auto Aprendizaje\2021\Desarrollo Programacion\Sofka U\Desarrollo\Aprender\Taller practico 1\Facturacion\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
.idea
